<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row"><!-- Begin Sub Footer -->
      <div class="span12 footer-col footer-sub">
        <div class="row no-margin">
          <div class="span12">
            <span class="left">
              This site is a collaboration with <%= link_to "East Campus","http://www.eastcampusmuscatine.org/" %> and <%= link_to "ohmymuscatine", "https://www.facebook.com/pages/ohmymuscatine/221694991240640" %>.  Inspired by and based on <%= link_to "www.omawho.com", "http://www.omawho.com" %>.  Thanks to <%= link_to "Aaron Frerichs", "https://twitter.com/aaron_frerichs" %> and <span style="color:#dcdcdc; font-weight:bold; padding: 0;">Gilad Aharoni</span> for your technical help!
            </span>
          </div>
        </div>
        <div class="row no-margin">
          <div class="span6"><span class="left"><%= link_to image_tag("bwb.png", :alt => "Big Wheel Brigade", :id => "bwb"), "http://bigwheelbrigade.com" %> Brought to you by <a href="http://bigwheelbrigade.com">Big Wheel Brigade</a>.</span></div>
          <div class="span6">
            <span class="right">
              <a href="/"><%= @site_title %></a>
            </span>
          </div>
        </div>
      </div>
    </div><!-- End Sub Footer -->
  </div>
</div><!-- End Footer -->

<style type="text/css" media="screen">
  .footer-container{
    position: relative;
  }
</style>